@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

:root{
    --branco: #FFFFFF;
    --cor-de-fundo: #3A375E;
    --cor-botao1: #003840;
    --cor-botao2: #005A5B;
    --cor-botao3: #007369;
    --cor-botao4: #008C72;
    --cor-do-bloco: #02A676;
    --cor-da-fonte: #6FFF57;
    --verde: #1ca105e0;
    --botao-ativo:#00b0b6;
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Chakra Petch', 'Sans-Serif';
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 32px;
}

.titulo-principal span{
    color: var(--branco);
}

.botao{
    font-family: 'Chakra Petch', Sans-Serif;
    background-color: var(--cor-botao1);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--cor-botao2);
    border-left: 2px solid var(--cor-botao3);
    border-right: 2px solid var(--cor-botao4);
    border-top: none;
}

.botao:first-child{
    border-radius: 40px 40px 0 0;
}

.botoes{
    display: block;
}

.ativo{
    background-color: var(--botao-ativo);
    border-bottom: 4px solid var(--verde);
}

.abas-texto{
    background-color: var(--cor-de-fundo);
    padding:40px;
    border-radius: 0 0 40px 40px;
}

.aba-conteudo.ativo{
    display:block;
}

.aba-conteudo{
    display:none;
}


@media screen and (min-width: 768px){
    .botoes{
        display: flex;
    }

    .botao:first-child{
        border-radius: 40px 0 0 0;
    }

    .botao:last-child{
        border-radius: 0 40px 0 0;
    }
}
