@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

:root{
    --branco: #FFFFFF;
    --cor-de-fundo: #3A375E;
    --cor-botao1: #003840;
    --cor-botao2: #005A5B;
    --cor-botao3: #007369;
    --cor-botao4: #008C72;
    --cor-do-bloco: #02A676;
    --cor-da-fonte: #6FFF57;
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Chakra Petch', 'Sans-Serif';
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 32px;
}

.titulo-principal span{
    color: var(--branco);
}

.botao{
    font-family: 'Chakra Petch', Sans-Serif;
    background-color: var(--cor-botao1);
    color: var(--branco);
}
